.container {
    background-color: whitesmoke;
    padding: 10px;
    max-width: 800px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

#blue {
    background-color: skyblue;
}

#pink {
    background-color: pink;
}

#white {
    background-color: white;
}

img {
    height: 200px;
    margin: 10px;
}

h1, h5 {
    text-align: center;
    font-family: sans-serif;
}

h5 {
    font-weight: lighter;
}